<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>まじっくくれぱす</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>magicre2024pas12</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6</string>
		<key>CFBundleName</key>
		<string>magicre2024pas12</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.3</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>107</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string> 
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIInterfaceOrientation</key>
		<string>UIInterfaceOrientationLandscapeLeft</string> <!-- 初期状態を横向きに設定 -->
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>このアプリで写真を選択し、アルバムやプロジェクトに追加するために、フォトライブラリへのアクセスが必要です。</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>フォトライブラリ内の写真を編集および共有するために、アプリが写真へのアクセスを必要とします。
		例えば、選択した写真にフィルターを適用できます。</string>
		<key>NSCameraUsageDescription</key>
		<string>このアプリでは、新しい写真や動画を撮影し、プロジェクトやアルバムに追加するためにカメラを使用します。</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>このアプリでは、近くのサービスや施設を案内する機能を提供するため、位置情報を利用します。</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>このアプリでは、音声録音機能を利用するためにマイクを利用します。</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>このアプリでは、ユーザーの現在地を取得するために位置情報を使用いたします。</string>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UIFileSharingEnabled</key>
		<true/>
		<key>UISupportsDocumentBrowser</key>
		<true/>
		<key>LSSupportsOpeningDocumentsInPlace</key>
		<true/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<true/>
		<key>GADApplicationIdentifier</key>
		<string>ca-app-pub-3661514139640335~2030035066</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>mailto</string> <!-- メール -->
			<string>sms</string> <!-- SMS -->
			<string>tel</string> <!-- 電話 -->
			<string>whatsapp</string> <!-- WhatsApp -->
			<string>instagram</string> <!-- Instagram -->
			<string>twitter</string> <!-- Twitter -->
			<string>line</string> <!-- LINE -->
			<string>fb</string> <!-- Facebook -->
			<string>fb-messenger</string> <!-- Facebook Messenger -->
			<!-- 必要なアプリを追加 -->
		</array>

	</dict>
</plist>
